.Admin {
  .sftp-item {
    & + .sftp-item {
      margin-top: 4px;
    }
  }
  .sftp-username {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .sftp-filename {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .lock-unlock {
    margin-left: 10px;
    .fa {
      margin-right: 4px;
    }
  }

  .heading {
    small {
      font-size: 16px;
      font-weight: 600;
      color: #444;
    }
    h2 {
      margin: 0;
    }
    .release-name {
      font-size: 40px;
      font-weight: 300;
      color: #666;
      letter-spacing: 3px;
    }
    .creation-time {
      font-size: 15px;
      margin-left: 24px;
      opacity: 0.7;
    }

    .btn {
      opacity: 0.7;
      transition: opacity 0.2s ease;
      &:hover {
        opacity: 1;
      } 
    }
    .release-now-btn {
      margin-left: 10px;
    }
  }

  .user-list {
    & + .user-list {
      margin-top: 10px;
    }

    .letter-group {
      display: flex;
    }
    .letter {
      margin: 4px 10px 0 0;
      width: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      text-align: right;
    }
  }

  .user {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    padding: 4px 8px;
    line-height: 1.5;
    border: 0;
    position: relative;
    margin-top: 4px;
    margin-right: 4px;

    .fa {
      margin-right: 4px;
      width: 1.2em;
    }

    &.locked {
      &:hover .fa-lock {
        display: none;
      }
      &:not(:hover) .fa-unlock {
        display: none;
      }
    }
  }

}