<div class="navbar-inne">
	<div class="container-fluid">
	<a href="http://www.icgc.org"><img src="/assets/img/logo-icgc.png"></a>
  <a href="http://www.oicr.on.ca"><img class="pull-right" src="/assets/img/oicrlogo.jpg"></a>
	</div>
</div>
<div class="navbar">
  <div class="navbar-inner">
    <span class="brand">DCC Data Submission</span>
    {{#if username}}
    <ul class="nav">
      <li class="active"><a href="/releases">Releases</a></li>
    </ul>
    <ul class="nav pull-right">
      <li><p class="navbar-text">{{username}} (<a href="/logout">logout</a>)</p></li>
    </ul>
    {{/if}}
  </div>
</div>
