<div class="navbar-inne">
	<div class="container-fluid">
	<span class="brand">
	<a href="http://www.icgc.org"><img src="/assets/img/logo-icgc.png"></a>
  <a href="/releases/">Data Submission</a>
  </span>
  <a href="http://www.oicr.on.ca"><img class="pull-right" src="/assets/img/oicrlogo.jpg"></a>
	</div>
</div>
{{#if username}}
<div class="row-fluid">
  <div class="pull-right">
    {{username}} (<a href="/logout">logout</a>)
  </div>
</div>
{{/if}}