<div class="row-fluid page-header">
	<div>
		<h1>Releases</h1>
	</div>
</div>
<div class="row-fluid">
	<table class="releases table table-striped">
	<thead>
		<th>Name</th>
		<th>State</th>
		<th>Release Date</th>
		<th>Projects</th>
		<th></th>
	</thead>
	<tbody></tbody>	
	</table>
</div>