#external-nav
  position: absolute

  .navbar-inner
    padding 0px
    background #6F99B8
    background url('../images/bkgd_header_top.png') no-repeat center -54px hsl(209, 31%, 49%);
    border-bottom 3px solid hsl(209, 43%, 34%)

    .brand
      color: #fff

    li a
      color #ddd
      text-decoration underline
      &:hover
        text-decoration none

.subhead
  text-align: center
  h1
    font-size: 48px