#external-nav .navbar-inner
  padding 9px
  background url('http://icgc.org/sites/all/themes/daco_theme_2/images/bkgd_header_top.png') no-repeat center -54px hsl(209, 31%, 49%);
  border-bottom 3px solid hsl(209, 43%, 34%)

  .brand
    color: #fff

  li a
    color #ddd
    text-decoration underline
    &:hover
      text-decoration none


.subhead
  text-align: center
  h1
    font-size: 48px