.react-bs-table table td, .react-bs-table table th {
  white-space: normal;
  word-wrap: break-word;
}

.m-btn.mini {
  height: auto;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}