
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    ×
  </button>
  <h3>Admin</h3>
</div>
<div class="modal-body">

  {{#if sftpEnabled}}
     Click on "Lock Submissions" to prevent uploading and validation on non-admin accounts.
  {{else}}
     Click on "Unlock Submissions" to allow uploading and validation on non-admin accounts.
  {{/if}}
   <br>
   <br>
   <ul>
      <li>There are <strong>{{ activeSftpSessions }}</strong> active SFTP sessions:<br>
          <ul>
           {{#each userSessions}}
            <li><span class="label label-badge">{{userName}}</span></li>
           {{/each}}
          </ul>
      </li>
   </ul>
</div>
</div>
<div class="modal-footer">
  <a href="#" class="m-btn grey-stripe" data-dismiss="modal">Close</a>
  {{#if sftpEnabled}}
     <button type="submit" id="admin-submit-button" href="#" class="m-btn red">
       <i class="icon-lock"></i> Lock Submissions
     </button>
  {{else}}
     <button type="submit" id="admin-submit-button" href="#" class="m-btn green">
       <i class="icon-ok"></i> Unlock Submissions
     </button>
  {{/if}}
</div>

