<div class="alert alert-warning" id="warning-body">
    <div>{{{msg}}}</div>
    <div style="text-align:right">
        <button id="warning-dismiss" class="m-btn blue">Dismiss</button>
    </div>
</div>
