@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/react-bootstrap-table/css/react-bootstrap-table.css';
@import '../node_modules/highlight.js/styles/docco.css';
@import './common/styles/overrides/index.css';
@import './common/styles/global.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
