@import './common/styles/variables/variables.css';

.App {
  display: flex;
  flex-direction: column;

  .Footer {
    margin-top: auto;
  }

  .breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .breadcrumb-separator {
    color: #bbb;
    margin: 0 10px;
    font-size: 10px;
  }
  .breadcrumb-item {
    /* hide breadcrumbs when only containing one item*/
    &:first-child:last-child {
      display: none;
    }
  }
}

html, body, #root, .App {
  height: 100%;
}

.ReactModal__Overlay {
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 250ms ease-out;
}

.ReactModal__Content {
  opacity: 0;
  transform: translateY(30px);
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0);
  transition: all 250ms var(--inQuad);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 250ms var(--outQuad);
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: white;
}

h2 {
  font-size: 21px;
  font-weight: normal;
}