@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/react-bootstrap-table/css/react-bootstrap-table.css';
@import '../node_modules/highlight.js/styles/docco.css';
@import './common/global.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
