<div class="footer">
   <small class="pull-left"> &copy; 2014 <a href="http://icgc.org">International Cancer Genome Consortium.</a> All Rights reserved.</small>
   <small class="pull-right"> Version {{releaseName}} ({{commitId}})</small>
</span>
