
<div class="row" style="width:570px; margin:auto">
  <div class="subhead">
    <span><a href="http://icgc.org" target="_blank"><img alt="ICGC" class="pull-left" style="margin-top:9px" width="172" height="57" src="/images/logo-icgc.png"></a></span>
    <span class="pull-right" style="margin-top:3px"><a href="http://oicr.on.ca" target="_blank"><img alt="OICR" width="112" height="75" src="/images/logo-oicr.jpg"></a></span>
  </div>
</div>

<div class="login-inner">
	<div class="alert"><strong>WARNING</strong>: This is an Ontario Institute for Cancer Research (OICR) computer system. This resource and all subsequent resources accessed from this point, including all related equipment, networks, websites, applications, databases and network devices is provided for authorized OICR use only.

Use of this system is subject to monitoring.

By using this system, you acknowledge that you are an authorized user and agree to protect and maintain the security, integrity and confidentiality of the system and data stored on it consistent with the OICR policies and legal requirements. Any unauthorized use of Ontario Institute for Cancer Research systems may result in disciplinary action, civil or criminal penalties.
	<br>
	<a href="http://oicr.on.ca/terms-and-conditions" target="_blank">Terms and Conditions</a>
	</div>

	<h2>Data Submission Login</h2>
	<form id="login-form" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="username">Username</label>
				<div class="controls">
					<input type="text"  autofocus="autofocus" class="m-wrap" name="username" value="" id="username" placeholder="Enter your Username">
				</div>
			</div>
			<div class="control-group ">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<input type="password" class="m-wrap" name="password" value=""  id="password" placeholder="Enter your Password">
				</div>
			</div>
			<div class="form-actions" style="border:1px solid #ddd">
			<button type="submit" class="dcc m-btn green">
				<i class="icon-lock"></i>
				Login
			</button>
			</div>
	</form>
	<iframe src="https://www.google.com/calendar/embed?src=icgcportal%40gmail.com&ctz=America/Toronto" style="border: 0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
</div>
