.Login {
  background: white;
  color: var(--darkGrey);
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;

  .login-inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.Warning {
  color: var(--darkGrey);
  font-size: 11px;
  padding: 12px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .oicr-logo {
    margin-bottom: 20px;
    filter: grayscale(100%);
    transition: all 0.2s ease;
    &:hover {
      filter: grayscale(0%);
    }
  }

  @media (min-width: 840px) {
    flex-direction: row;
    .warning-content {
      width: 80%;
    }
    .oicr-logo {
      position: absolute;
      left: -60px;
      margin-bottom: 0;
      transition: all 0
    }
  }
}