<div ui-if="active" id="current-group">
    <div class="facet-header current">
        Current Search
        <span class="reset pull-right" ng-click="removeAll()"><i class="icon-undo"></i> reset</span>
    </div>
    <div class="nav nav-list" ng-repeat="(type_name,type) in filters">
        <ul ng-repeat="(facet,terms) in type">
            <li>
                <a ng-click="removeFacet(type_name, facet)" style="text-transform: uppercase">{{facet}}</a> is
                <ul ng-repeat="term in terms">
                    <li>
                        <span ui-if="!$first" class="or">OR</span>
                        <a ng-click="removeTerm(type_name, facet, term)">{{term}}</a>
                    </li>
                </ul>
                <span ui-if="!$last" class="and">AND</span>
            </li>
        </ul>
        <span ui-if="!$last" class="and">AND</span>
    </div>
</div>
