<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    ×
  </button>
  <h3>Complete Release</h3>
</div>
<div class="modal-body">
  <div class="alert">Once you confirmed completing the current release <b>{{name}}</b>, there is no going back. It will be marked as COMPLETED and only submissions that are SIGNED OFF will be processed and included in this release. Please be certain.
  </div>
  <fieldset class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="nextRelease">Next Release Name</label>
      <div class="controls">
        <input type="text" class="m-wrap m-ctrl-medium" placeholder="Enter release name" id="nextRelease">
      </div>
    </div>
  </fieldset>
</div>
<div class="modal-footer">
  <a href="#" class="m-btn grey-stripe" data-dismiss="modal">Close</a>
  <button type="submit" id="complete-release-button" href="#" class="m-btn green"><i class="icon-ok icon-white"></i> Release {{name}}</button>
</div>