<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    ×
  </button>
  <h3>Complete Release</h3>
</div>
<div class="modal-body">
  <div class="alert alert-info">Once you have confirmed completing the release <strong>"{{name}}"</strong> it will be marked as COMPLETED and all submissions that are SIGNED OFF will be processed and included in this release. Please be certain before you continue.
  </div>
  <fieldset class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="nextRelease">Release Name</label>
      <div class="controls">
        <input type="text" class="m-wrap m-ctrl-medium" placeholder="Enter next release name" id="nextRelease">
      </div>
    </div>
  </fieldset>
</div>
<div class="modal-footer">
  <a href="#" class="m-btn grey-stripe" data-dismiss="modal">Close</a>
  <button type="submit" id="complete-release-button" href="#" class="m-btn green"><i class="icon-ok icon-white"></i> Release</button>
</div>