<div id="release-header-container"></div>
<div id="submission-summary-container"></div>
<h2>Projects included in {{name}} release</h2>
<table id="submissions-table" width="100%" class="submissions table table-striped table-bordered table-hover"></table>