<div id="release-header-container"></div>
<div id="submission-summary-container"></div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#files" data-toggle="tab">Submissions</a></li>
</ul>
<div class="tab-content">
  <table id="submissions-table" width="100%" class="submissions table table-striped"></table>
</div>