{{#if next}}
<div class="alert alert-success"><button class="close" data-dismiss="alert">×</button>This release has been completed succesfully! The current open release is <a href="/releases/{{next}}">{{next}}</a>.</div>
{{/if}}
<div class="row-fluid">
  <ul class="breadcrumb">
    <li>
      <a href="/releases/"><i class="icon-home"></i> Releases</a> <span class="divider">/</span>
    </li>
    <li>
      {{name}}
  </ul>
</div>
