<div id="submission-header-container"></div>
<h2 style="margin-bottom:0;">Report</h2>
<div id="report-container" width="100%">
</div>

<!--
   <table id="CLINICAL_CORE_TYPE" width="100%" class="report table table-striped table-bordered table-hover"></table>
   <table id="SSM_TYPE" width="100%" class="report table table-striped table-bordered table-hover"></table>
-->
