
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    ×
  </button>
  <h3>Feedback Form</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">

      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="text" name="email" autofocus="autofocus" placeholder="Your Email Address" class="m-wrap m-ctrl-medium">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="subject">Subject</label>
        <div class="controls">
          <input type="text" name="subject" placeholder="Message Subject" class="m-wrap m-ctrl-medium">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="message">Message</label>
        <div class="controls">
          <textarea height="200px" name="message" placeholder="Please write a comment or describe a problem" class="m-wrap"></textarea>
        </div>
      </div>
    </form>
</div>
</div>
<div class="modal-footer">
  <a href="#" class="m-btn grey-stripe" data-dismiss="modal">Close</a>
  <button type="submit" id="feedback-submit-button" href="#" class="m-btn green"><i class="icon-ok"></i> Send Feedback</button>
</div>

