<!doctype html>
<html data-ng-app="ViewerApp">
<head><title>Dictionary Viewer :: ICGC Submission</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<!--
<link rel="stylesheet" href="bootstrap.css">
-->
<link rel="stylesheet" href="styles/docco.css">
<link rel="stylesheet" href="styles/nobg.css">
<script src="angular.min.js"></script>
<script src="/javascripts/vendor.js"></script>
<script src="dictionaryUtil.js"></script>
<script src="dictionaryViewer.js"></script>
<style type="text/css">

.data-type-list {
   padding-left:1em;
   padding-right:1em;
   color: #666666;
   font-weight: bold;
}

.legend {
   border-left-style: solid;
   border-left-width: 22px;
   padding-left:2px;
   font-size:1.0em;
}

.tiny {
   padding-left: 0.15em;
   font-size: 0.75em;
}


/* From Bostock's examples */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node text {
  font: 0.75em sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #f1f1f1;
  stroke-width: 2.0px;
}




// Override bootstrap default styles to make UI less blobby-looking
th {
   font-size: 0.8em;
}

pre {
   background-color: rgb(250, 245, 245);
}

a {
   cursor: pointer;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td
{
   border-bottom-width: 0px;
   border-left-width: 0px;
   font-size: 12px;
}

.vis-wrapper {
   margin-left:0.5em; 
   margin-right:0.5em;
}

.report-wrapper {
   margin-left:1.5em; 
   margin-right:1.5em; 
   display:none;
}

</style>
</head>
<body style="padding-top:70px" data-ng-controller="ViewerController">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand">
          <img src="https://dcc.icgc.org/styles/images/icgc-logo.png" width="20px"></img>
          <span style="font-size:1.7rem; vertical-align:middle">
              <span style="color:#777777">ICGC</span>
              <span> Dictionary Viewer</span>
          <span>
      </span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input 
               data-ng-model="q"
               data-ng-keyup="doFilter()"
               data-ng-click="$event.stopPropagation()" class="form-control" id="filter" type="text" size="25" placeholder="Search:">
          </input>
        </div>
      </div>

      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
           <select class="form-control" id="version_from" 
               data-ng-model="vFrom"
               data-ng-options="item for item in dictUtil.versionList"
               data-ng-change="switchDictionary()" style="width:6em">
           </select>
        </div>
        TO
        <div class="form-group">
           <select class="form-control" id="version_to" 
               data-ng-model="vTo"
               data-ng-options="item for item in dictUtil.versionList"
               data-ng-change="switchDictionary()" style="width:6em">
           </select>
        </div>
 
        <span>&nbsp;&nbsp;&nbsp;&nbsp;View Mode</span>
        <div class="form-group">
            <select
                 class="form-control"
                 data-ng-options="item for item in ['graph', 'table', 'codelist', 'report']"
                 data-ng-model="viewMode"
                 data-ng-change="changeView()">
            </select>
        </div>
      </div>

      <div class="navbar-form navbar-right">
         <div class="form-control"> 
             <span id="counterNew" data-ng-style="{color: tableViewer.colourNew}">{{changeReport.fieldsAdded.length}} new</span>, 
                 <span id="counterChanged" data-ng-style="{color: tableViewer.colourChanged}">{{changeReport.fieldsChanged.length}} changed</span>
             </div>
         </div>
      </div>

    </div>

  </div>
</div>

<!---->

<div id="visWrapper" class="vis-wrapper" data-ng-style="{'display': viewMode === 'report'? 'none': 'block'}">
   <!-- template for table viewer-->
   <span id="datatypeSelector" style="display:inline-block; margin-right:10em; float:right">
       <button id="minimapLabel" class="btn btn-default"><span>all</span><i class="glyphicon glyphicon-chevron-down"></i></button><br>
       <div  id="minimapWrapper" style="height:400px; width:285px; overflow:scroll; display:none; position:absolute; background-color:#F5F5F5">
          <svg id="minimap" height="0px" width="275px" style="pointer-events:visibleFill; z-index:10"></svg>
       </div>
   </span>
   <div id="datatypeTable"></div>

   <!-- template for graph viewer -->
   <div id="datatypeGraph">
      <div id="graph" style="float:left; width:75%"></div>
   </div>
</div>



<!-- template for report -->
<div id="reportWrapper" class="report-wrapper" data-ng-style="{'display': viewMode==='report'? 'block':'none'}">
   <div id="changeReport">
      <pre>
      Added: 
      {{changeReport.added}}

      Changed:
      {{changeReport.changed}}
      
      Removed:
      {{changeReport.removed}}
      </pre>
   </div>
</div>
<!---->

</body>
<script>

////////////////////////////////////////////////////////////////////////////////
// DCC Dictionary viewer
// Browse and compare ICGC data dictionaries
//
// Note:
// - The viewer does not support dictionary versions before 0.6c, this also means
//   the viewer assumes a fixed column order
// - Comparing A=>B will not yield the same result as B=>A due to how new/remove
//   items are calculated
//
// Dependencies:
// - Core: D3, Underscore
// - Wrapper: angularJS
// - Styles: HighlightJS, JS-Beautify, regex-colorizer JS, Bootstrap
//
////////////////////////////////////////////////////////////////////////////////

var app = angular.module("ViewerApp", []);
var codelistMap = {};


app.controller("ViewerController", function($scope, $location, $http, $timeout) {

  // Renderer and dictionary logic
  $scope.tableViewer = null;
  $scope.dictUtil = null;

  // params
  $scope.vFrom = '';
  $scope.vTo = '';
  $scope.viewMode = 'graph';
  $scope.q = '';
  $scope.dataType = 'all';

  // Query timer
  var qPromise = null;

  // Master sync
  $scope.update = function() {
    var search = $location.search();
    console.log('update', search);

    if (search.vFrom && search.vFrom !== '') $scope.vFrom = search.vFrom;
    if (search.vTo && search.vTo !== '') $scope.vTo = search.vTo;
    if (search.viewMode) $scope.viewMode = search.viewMode;
    $scope.dataType = search.dataType || 'all';
    $scope.q = search.q || '';
    $scope.isReportOpen = search.isReportOpen === 'true' ? true : false;

    $scope.render();
  };

  // Init
  $http.get("/ws/dictionaries").success(function(dictionaryList) {
     $scope.dictUtil = new DictionaryUtil(dictionaryList);
     $scope.tableViewer = new TableViewer(null, $scope.dictUtil);
     $scope.isReportOpen = false;

     // FIXME: need better 'sorting'
     $scope.vFrom = $scope.dictUtil.versionList[1];
     $scope.vTo = $scope.dictUtil.versionList[0];
  
     // Externalized function
     $scope.tableViewer.toggleNodeFunc = function() {
       $scope.$apply(function() {
         var search = $location.search();
         search.viewMode = $scope.viewMode === 'table'? 'graph':'table';
         search.dataType = $scope.tableViewer.selectedDataType;
         $location.search(search);
       });
     };

     $scope.tableViewer.toggleDataTypeFunc = function() {
       $scope.$apply(function() {
         console.log('asdf');
         var search = $location.search();
         search.dataType = $scope.tableViewer.selectedDataType;
         $location.search(search);
       });
     };
  
     // Grab the codelist
     $http.get("/ws/codeLists").success(function(codeLists) {
       codeLists.forEach(function(c) {
          codelistMap[c.name] = c;
       });
  
       console.log('done init!!!', $scope.vFrom, $scope.vTo, $scope.dictUtil.versionList.length);

       $scope.switchDictionary();
       startWatcher();
     });

  });

  $scope.changeView = function() {
    console.log('change view');
    var search = $location.search();
    // search.viewMode = $scope.viewMode === 'table'? 'graph':'table';
    search.viewMode = $scope.viewMode; 

    if (search.viewMode === 'graph') {
      delete search.dataType;
    }
    $location.search(search);
  };

  function startWatcher() {
    $scope.$watch(function() { return $location.search(); }, function(n, o) {
      $scope.update();
    }, true);
  }

  $scope.switchDictionary = function() {
    var search = $location.search();
    search.vFrom = encodeURIComponent($scope.vFrom);
    search.vTo = encodeURIComponent($scope.vTo);
    $location.search(search);
  };

  $scope.doFilter = function() {
    $timeout.cancel(qPromise);

    qPromise = $timeout(function() {
      var search = $location.search();
      var txt = $scope.q;
      search.q = txt;

      $scope.tableViewer.filter($scope.q);
      $location.search(search);
    }, 400);
  }


  $scope.render = function() {
     var versionFrom = $scope.vFrom;
     var versionTo = $scope.vTo;
     var viewMode = $scope.viewMode;
     var query = $scope.q;
     var dataType = $scope.dataType;

     console.log("Render", versionFrom, versionTo, viewMode, query, dataType);
     if (viewMode === 'table') {
        $scope.tableViewer.showDictionaryTable(versionFrom, versionTo);
        $scope.tableViewer.selectDataType(dataType);
     } else {
        $scope.tableViewer.showDictionaryGraph(versionFrom, versionTo);
     }
     $scope.tableViewer.filter(query);
     $scope.generateChangeList();
  };


  $scope.generateChangeList = function() {
     var versionFrom = $scope.vFrom;
     var versionTo = $scope.vTo;

     $scope.changeReport = $scope.dictUtil.createDiffListing(versionFrom, versionTo);

     $scope.changeReport.changed = $scope.changeReport.fieldsChanged.map(function(field) {
       return field.fileType + '|' + field.fieldName;
     }).join('\n')

     $scope.changeReport.added = $scope.changeReport.fieldsAdded.map(function(field) {
       return field.fileType + '|' + field.fieldName;
     }).join('\n')

     $scope.changeReport.removed = $scope.changeReport.fieldsRemoved.map(function(field) {
       return field.fileType + '|' + field.fieldName;
     }).join('\n')

  };
});

</script>
</html>
