<!doctype html>
<html data-ng-app="ViewerApp">
<head><title>Dictionary Viewer :: ICGC Submission</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/docco.css">
<link rel="stylesheet" href="styles/nobg.css">
<link href="bower_components/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="/javascripts/vendor.js"></script>
<script src="dictionaryUtil.js"></script>
<script src="dictionaryViewer.js"></script>
<script src="bower_components/dist/jsoneditor.min.js"></script>
<style type="text/css">

.data-type-list {
   padding-left:1em;
   padding-right:1em;
   color: #666666;
   font-weight: bold;
}

.legend {
   border-left-style: solid;
   border-left-width: 22px;
   padding-left:2px;
   font-size:1.0em;
}

.tiny {
   padding-left: 0.15em;
   font-size: 0.75em;
}

/* From Bostock's examples */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node text {
  font: 0.75em sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #e1f1e1;
  stroke-width: 3.0px;
}

/* Override bootstrap default styles to make UI less blobby-looking */
th {
   font-size: 0.8em;
}

pre {
   background-color: rgb(250, 245, 245);
}

a {
   cursor: pointer;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td
{
   border-bottom-width: 0px;
   border-left-width: 0px;
   font-size: 12px;
}

.vis-wrapper {
   margin-left:0.5em;
   margin-right:0.5em;
}

.report-wrapper, .codelist-wrapper {
   margin-left:1.5em;
   margin-right:1.5em;
   display:none;
}

  /** for bob to have non blue headers */
  .jsoneditor .menu {
    background: whitesmoke;
    border-bottom: none;
  }
  .jsoneditor {
    border:none;
  }
  .jsoneditor .menu button{
    background: url(bower_components/dist/img/jsoneditor-icons.png)white;
    border-color: dimgray;
  }

  #jsonview{
    margin-top: -20px; /** undoes margin of header */
  }

</style>
</head>
<body style="padding-top:70px" data-ng-controller="ViewerController">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand">
          <img src="https://dcc.icgc.org/styles/images/icgc-logo.png" width="20px"></img>
          <span style="font-size:1.7rem; vertical-align:middle">
              <span style="color:#777777">ICGC</span>
              <span> Dictionary Viewer</span>
          <span>
      </span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input
               data-ng-model="q"
               data-ng-keyup="doFilter()"
               data-ng-click="$event.stopPropagation()" class="form-control" id="filter" type="text" size="25" placeholder="Search:">
          </input>
        </div>
      </div>

      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
           <select class="form-control"
               data-ng-model="vFrom"
               data-ng-options="item for item in dictUtil.versionList"
               data-ng-change="switchDictionary()" style="width:6em">
           </select>
        </div>
        TO
        <div class="form-group">
           <select class="form-control"
               data-ng-model="vTo"
               data-ng-options="item for item in dictUtil.versionList"
               data-ng-change="switchDictionary()" style="width:6em">
           </select>
        </div>

        <span>&nbsp;&nbsp;&nbsp;&nbsp;View</span>
        <div class="form-group">
            <select
                 class="form-control"
                 data-ng-options="item for item in ['graph', 'table', 'codelist', 'report','json']"
                 data-ng-model="viewMode"
                 data-ng-change="changeView()">
            </select>
        </div>
      </div>

      <div class="navbar-form navbar-right">
         <div>
             <span data-ng-style="{color: tableViewer.colourNew}">{{changeReport.fieldsAdded.length}} new</span>
             &nbsp;&nbsp;
             <span data-ng-style="{color: tableViewer.colourChanged}">{{changeReport.fieldsChanged.length}} changed</span>
         </div>
      </div>

    </div>

  </div>
</div>


<!--<div class="vis-wrapper" data-ng-style="{'display': viewMode === 'report'? 'none': 'block'}">-->
<div class="vis-wrapper" data-ng-style="{'display': ['table', 'graph'].indexOf(viewMode) === -1 ? 'none': 'block'}">
   <!-- template for table viewer-->
   <span id="datatypeSelector" style="display:inline-block; margin-right:10em; float:right">
       <button id="minimapLabel" class="btn btn-default"><span>all</span><i class="glyphicon glyphicon-chevron-down"></i></button><br>
       <div  id="minimapWrapper" style="height:400px; width:285px; overflow:scroll; display:none; position:absolute; background-color:#F5F5F5">
          <svg id="minimap" height="0px" width="275px" style="pointer-events:visibleFill; z-index:10"></svg>
       </div>
   </span>
   <div id="datatypeTable"></div>

   <!-- template for graph viewer -->
   <div id="datatypeGraph">
      <div id="graph" style="float:left; width:75%"></div>
   </div>
</div>



<!-- template for report -->
<div class="report-wrapper" data-ng-style="{'display': viewMode==='report'? 'block':'none'}">
   <div> 
      <pre>
Added:
{{changeReport.added}}

Changed:
{{changeReport.changed}}

Removed:
{{changeReport.removed}}
      </pre>
   </div>
</div>

<!-- template for json viewer -->
<div id="jsonviewer" data-ng-style="{'display': viewMode==='json'? 'block':'none'}"></div>

<!-- template for codelists -->
<div class="codelist-wrapper" data-ng-style="{'display': viewMode==='codelist'? 'block':'none'}">
   <div>
       <span> Hide unused CodeLists: <input type="checkbox" data-ng-model="hideUnusedCodeLists" data-ng-change="render()"></span>
   </div>
   <br>
   <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
               <th>Name</th>
               <th>Used in ...</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="codeList in codeListsFiltered | filter:{'name':q} | orderBy:'name'"
                data-ng-init="expanded=false">
                <td> 
                    <span data-ng-click="expanded=!expanded">
                        <a href="">
                            {{codeList.name}}
                            <i class="{{expanded? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'}}"></i>
                        </a>
                    </span>
                    <ul data-ng-show="expanded" class="list-unstyled">
                        <li data-ng-repeat="term in codeList.terms">
                        {{term.code}} &nbsp;&nbsp;&nbsp; {{term.value}}
                        </li>
                    </ul>
                </td>
                <td style="max-width:60rem"> 
                    <span data-ng-repeat="datatype in codeList.coverage">
                        <a href="" data-ng-click="goto('table', datatype)">{{datatype}}</a>&nbsp;&nbsp;
                    </span>
                </td>
            </tr>
        </tbody>
   </table>
</div>

</body>
<script>

////////////////////////////////////////////////////////////////////////////////
// DCC Dictionary viewer
// Browse and compare ICGC data dictionaries
//
// Note:
// - The viewer does not support dictionary versions before 0.6c, this also means
//   the viewer assumes a fixed column order
// - Comparing A=>B will not yield the same result as B=>A due to how new/remove
//   items are calculated
//
// Dependencies:
// - Core: D3, Underscore
// - Wrapper: angularJS
// - Styles: HighlightJS, JS-Beautify, regex-colorizer JS, Bootstrap
//
////////////////////////////////////////////////////////////////////////////////

var app = angular.module("ViewerApp", []);

app.controller("ViewerController", function($scope, $location, $http, $timeout) {

  // Renderer and dictionary logic
  $scope.tableViewer = null;
  $scope.dictUtil = null;

  // params
  $scope.vFrom = '';
  $scope.vTo = '';
  $scope.viewMode = 'graph';
  $scope.q = '';
  $scope.dataType = 'all';

  $scope.hideUnusedCodeLists = true;

  // Query timer
  var qPromise = null;

  // Master sync
  $scope.update = function() {
    var search = $location.search();
    console.log('update', search);

    if (search.vFrom && search.vFrom !== '') $scope.vFrom = search.vFrom;
    if (search.vTo && search.vTo !== '') $scope.vTo = search.vTo;
    //if (search.viewMode) $scope.viewMode = search.viewMode;
    $scope.viewMode = search.viewMode || 'graph';
    $scope.dataType = search.dataType || 'all';
    $scope.q = search.q || '';
    $scope.isReportOpen = search.isReportOpen === 'true' ? true : false;

    $scope.render();
  };

  // Init
  $http.get("/ws/dictionaries").success(function(dictionaryList) {
     // Grab the codelist
     $http.get("/ws/codeLists").success(function(codeLists) {
       console.log('Done AJAX calls');

       var codelistMap = {};
       codeLists.forEach(function(c) {
          codelistMap[c.name] = c;
       });

       $scope.codeLists = codeLists;
       $scope.dictUtil = new DictionaryUtil(dictionaryList);
       $scope.tableViewer = new TableViewer($scope.dictUtil, codelistMap);
       $scope.isReportOpen = false;

       // FIXME: need better 'sorting'
       $scope.vFrom = $scope.dictUtil.versionList[1];
       $scope.vTo = $scope.dictUtil.versionList[0];

       // Externalized function
       $scope.tableViewer.toggleNodeFunc = function() {
         $scope.$apply(function() {
           var search = $location.search();
           search.viewMode = $scope.viewMode === 'table'? 'graph':'table';
           search.dataType = $scope.tableViewer.selectedDataType;
           $location.search(search);
         });
       };

       $scope.tableViewer.toggleDataTypeFunc = function() {
         $scope.$apply(function() {
           console.log('asdf'); //very nice
           var search = $location.search();
           search.dataType = $scope.tableViewer.selectedDataType;
           $location.search(search);
         });
       };

       startWatcher();
     });

  });

  function startWatcher() {
    $scope.$watch(function() { return $location.search(); }, function(n, o) {
      $scope.update();
    }, true);
  }

  $scope.changeView = function() {
    console.log('change view');
    var search = $location.search();
    // search.viewMode = $scope.viewMode === 'table'? 'graph':'table';
    search.viewMode = $scope.viewMode;

    if (search.viewMode === 'graph') {
      delete search.dataType;
    }
    $location.search(search);
  };

  $scope.goto = function(view, type) {
    var search = $location.search();
    search.viewMode = view;
    search.dataType = type;
    delete search.q;
    $location.search(search);
  };


  $scope.switchDictionary = function() {
    var search = $location.search();
    search.vFrom = encodeURIComponent($scope.vFrom);
    search.vTo = encodeURIComponent($scope.vTo);
    $location.search(search);
  };

  $scope.doFilter = function() {
    $timeout.cancel(qPromise);
    $scope.tableViewer.filter($scope.q);

    qPromise = $timeout(function() {
      var search = $location.search();
      var txt = $scope.q;
      search.q = txt;

      $scope.tableViewer.filter($scope.q);
      $location.search(search);
    }, 300);
  }


  $scope.render = function() {
     var versionFrom = $scope.vFrom;
     var versionTo = $scope.vTo;
     var viewMode = $scope.viewMode;
     var query = $scope.q;
     var dataType = $scope.dataType;

     console.log("Render", versionFrom, versionTo, viewMode, query, dataType);
     if (viewMode === 'table') {
        $scope.tableViewer.showDictionaryTable(versionFrom, versionTo);
        $scope.tableViewer.selectDataType(dataType);
     } else {
        $scope.tableViewer.showDictionaryGraph(versionFrom, versionTo);
     }
     $scope.tableViewer.filter(query);
     $scope.generateChangeList();

     $scope.codeLists.forEach(function(codeList) {
       codeList.coverage = $scope.dictUtil.getCodeListCoverage(codeList.name, versionTo).sort();
     });

     $scope.codeListsFiltered = $scope.codeLists;

     if ($scope.hideUnusedCodeLists === true) {
       $scope.codeListsFiltered = _.filter($scope.codeLists, function(codeList) {
         return codeList.coverage.length > 0;
       });
     }

     var container = document.getElementById("jsonviewer");
     var options = {
          mode: 'view'
     };
     var editor = new JSONEditor(container, options);
     editor.set($scope.dictUtil.getDictionary(versionTo));
  };


  $scope.generateChangeList = function() {
     var versionFrom = $scope.vFrom;
     var versionTo = $scope.vTo;

     $scope.changeReport = $scope.dictUtil.createDiffListing(versionFrom, versionTo);

     $scope.changeReport.changed = $scope.changeReport.fieldsChanged.map(function(field) {
       return field.fileType + '|' + field.fieldName;
     }).join('\n')

     $scope.changeReport.added = $scope.changeReport.fieldsAdded.map(function(field) {
       return field.fileType + '|' + field.fieldName;
     }).join('\n')

     $scope.changeReport.removed = $scope.changeReport.fieldsRemoved.map(function(field) {
       return field.fileType + '|' + field.fieldName;
     }).join('\n')

  };
});

</script>
</html>
