<!doctype html>
<html data-ng-app="ViewerApp">
<head><title>Dictionary Viewer :: ICGC Submission</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<!--
<link rel="stylesheet" href="bootstrap.css">
-->
<link rel="stylesheet" href="styles/docco.css">
<link rel="stylesheet" href="styles/nobg.css">
<script src="angular.min.js"></script>
<script src="/javascripts/vendor.js"></script>
<script src="dictionaryUtil.js"></script>
<script src="dictionaryViewer.js"></script>
<style type="text/css">

.data-type-list {
   padding-left:1em;
   padding-right:1em;
   color: #666666;
   font-weight: bold;
}

.legend {
   border-left-style: solid;
   border-left-width: 22px;
   padding-left:2px;
   font-size:1.0em;
}

.tiny {
   padding-left: 0.15em;
   font-size: 0.75em;
}


// From Bostock's examples
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node text {
  font: 0.75em sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #f1f1f1;
  stroke-width: 2.0px;
}




// Override bootstrap default styles to make UI less blobby-looking
th {
   font-size: 0.8em;
}

pre {
   background-color: rgb(250, 245, 245);
}

a {
   cursor: pointer;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td
{
   border-bottom-width: 0px;
   border-left-width: 0px;
   font-size: 12px;
}

.vis-wrapper {
   margin-left:0.5em; 
   margin-right:0.5em;
}

.report-wrapper {
   margin-left:1.5em; 
   margin-right:1.5em; 
   display:none;
}

</style>
</head>
<body style="padding-top:70px" data-ng-controller="ViewerController">
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand">
          <img src="https://dcc.icgc.org/styles/images/icgc-logo.png" width="20px"></img>
          <span style="font-size:1.7rem; vertical-align:middle">
              <span style="color:#777777">ICGC</span>
              <span> Dictionary Viewer</span>
          <span>
      </span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input data-ng-click="$event.stopPropagation()" class="form-control" id="filter" type="text" size="25" onKeyUp="doFilter()" placeholder="Search:">
          </input>
        </div>
      </div>


      <div class="test">
        Hello {{dictUtil.versionList.length}}
        <select 
            data-ng-options="xxx as item for item in [1, 3, 5, 7, 9]"
            data-ng-selected="xxx==1"
            data-ng-model="xxx">
        </select>
        Hello
      </div>
      

      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
           <select class="form-control" id="version_from" 
               onChange="switchDictionary()" style="width:6em">
           </select>
        </div>
        TO
        <div class="form-group">
           <select class="form-control" id="version_to" 
               onChange="switchDictionary()" style="width:6em">
           </select>
        </div>
      </div>

      <div class="navbar-form navbar-left">
         <button class="btn btn-default">
             <div id="viewReport" data-ng-click="isReportOpen = !isReportOpen; generateChangeList()">
                 <span id="viewReportLabel">{{ isReportOpen? "Close Report" : "View Report" }}</span> (
                 <span id="counterNew"></span>, 
                 <span id="counterChanged"></span> )
             </div>
         </button>
      </div>
      <div class="navbar-form navbar-right">
          <button class="btn btn-default" id="viewToggle" 
              data-ng-style="{'display': isReportOpen? 'none':'block'}"
              data-ng-click="changeView();">
             <span data-ng-if="tableViewer.isTable">
                 <i class="glyphicon glyphicon-picture"></i> Graph View
             </span>
             <span data-ng-if="!tableViewer.isTable">
                 <i class="glyphicon glyphicon-list-alt"></i> Table View
             </span>
          </button>
      </div>
    </div>

  </div>
</div>

<!---->

<div id="visWrapper" class="vis-wrapper" data-ng-style="{'display': isReportOpen? 'none': 'block'}">
   <!-- template for table viewer-->
   <span id="datatypeSelector" style="display:inline-block; margin-right:10em; float:right">
       <button id="minimapLabel" class="btn btn-default"><span>all</span><i class="glyphicon glyphicon-chevron-down"></i></button><br>
       <div  id="minimapWrapper" style="height:400px; width:285px; overflow:scroll; display:none; position:absolute; background-color:#F5F5F5">
          <svg id="minimap" height="0px" width="275px" style="pointer-events:visibleFill; z-index:10"></svg>
       </div>
   </span>
   <div id="datatypeTable"></div>

   <!-- template for graph viewer -->
   <div id="datatypeGraph">
      <div id="graph" style="float:left; width:75%"></div>
   </div>
</div>



<!-- template for report -->
<div id="reportWrapper" class="report-wrapper" data-ng-style="{'display': isReportOpen? 'block':'none'}">
   <div id="changeReport"></div>
</div>
<!---->

</body>
<script>

////////////////////////////////////////////////////////////////////////////////
// DCC Dictionary viewer
// Browse and compare ICGC data dictionaries
//
// Note:
// - The viewer does not support dictionary versions before 0.6c, this also means
//   the viewer assumes a fixed column order
// - Comparing A=>B will not yield the same result as B=>A due to how new/remove
//   items are calculated
//
// Dependencies:
// - Core: D3, Underscore
// - Wrapper: angularJS
// - Styles: HighlightJS, JS-Beautify, regex-colorizer JS, Bootstrap
//
////////////////////////////////////////////////////////////////////////////////

var app = angular.module("ViewerApp", []);
var codelistMap = {};

app.controller("ViewerController", function($scope, $location, $http) {

  // params
  $scope.versionFrom = '';
  $scope.versionTo = '';
  $scope.viewMode = '';
  $scope.fileType = '';


  $scope.update = function() {
    var search = $location.search();

    console.log('update', search);
    if (search.viewMode) {
      if (search.viewMode === 'table') {
        $scope.tableViewer.toggleFunc(true);
      } else {
        $scope.tableViewer.toggleFunc(false);
      }
    }
  };


  $scope.tableViewer = null;
  $http.get("/ws/dictionaries").success(function(dictionaryList) {
     $scope.dictUtil = new DictionaryUtil(dictionaryList);
     $scope.tableViewer = new TableViewer(null, $scope.dictUtil);
     $scope.isReportOpen = false;
  
     // Externalized function
     $scope.tableViewer.toggleFunc = function(isTable) {
       var ver = getSelect("#version_to");
       $scope.tableViewer.isTable = isTable;
       $scope.render(ver);
     };
  
     /*d3.select("#filter").on("click", function() {
        d3.event.stopPropagation();
     });*/
  
     d3.select("#version_to").selectAll("option")
       .data($scope.dictUtil.versionList)
       .enter()
       .append("option")
       .attr("value", function(d) { return d; })
       .text(function(d) { return d;});
  
     d3.select("#version_from").selectAll("option")
       .data($scope.dictUtil.versionList)
       .enter()
       .append("option")
       .attr("value", function(d) { return d; })
       .text(function(d) { return d;});
  
     d3.select("#counterNew").style("color", $scope.tableViewer.colourNew);
     d3.select("#counterChanged").style("color", $scope.tableViewer.colourChanged);
  
  
     // Grab the codelist
     $http.get("/ws/codeLists").success(function(codeLists) {
       codeLists.forEach(function(c) {
          codelistMap[c.name] = c;
       });
  
       // Done preparing data, now start rendering, this may be flaky
       // because we are attempting to guess the correct dictionaries
       console.log('done init!!!');
       $scope.tableViewer.toggleFunc(false);
       if (d3.select("#version_from").node().children.length > 1) {
          d3.select("#version_from").node().selectedIndex = 1;
       }
       $scope.switchDictionary();
       startWatcher();
     });

  });

  $scope.changeView = function() {
    console.log('change view');
    var search = $location.search();
    $scope.tableViewer.isTable = !$scope.tableViewer.isTable;

    search.viewMode = 'graph';
    if ($scope.tableViewer.isTable === true) {
      search.viewMode = 'table';
    }
    $location.search(search);
  };

  $scope.changeType = function() {
    var search = $location.search();
    search.fileType = $scope.tableViewer.selectedDataType;
    console.log('change search type to', search.fileType);
    $location.search(search);
  };



  function startWatcher() {
    $scope.$watch(function() { return $location.search(); }, function(n, o) {
      $scope.update();
    }, true);

    // not working, out of scope, viewer needs to provide a hook for angular to run digest
    /*
    $scope.$watch(function() { return $scope.tableViewer.selectedDataType; }, function(n, o) {
      $scope.changeType();
    }, true); */
  }




function getSelect(elem) {
   var index = d3.select(elem).node().selectedIndex;
   return d3.select(elem).node()[index].value;
}


  $scope.switchDictionary = function() {
    $scope.render();
    $scope.generateChangeList();
  };

function doFilter() {
   var txt = d3.select("#filter").node().value;
   $scope.tableViewer.filter(txt);
}


  $scope.render = function() {
     var versionFrom = getSelect("#version_from");
     var versionTo = getSelect("#version_to");
  
     if ($scope.tableViewer.isTable) {
        $scope.tableViewer.selectDataType("all");
        $scope.tableViewer.showDictionaryTable(versionFrom, versionTo);
     } else {
        $scope.tableViewer.showDictionaryGraph(versionFrom, versionTo);
     }
     doFilter();
  };


  $scope.generateChangeList = function() {
     var versionFrom = getSelect("#version_from");
     var versionTo = getSelect("#version_to");
     var changeReport = $scope.dictUtil.createDiffListing(versionFrom, versionTo);
  
     d3.select("#changeReport").html("");
     d3.select("#changeReport").append("pre").text(function() {
        var text = "";
        text += "\nAdded:\n";
        changeReport.fieldsAdded.forEach(function(field) {
           text += field.fileType + "|" + field.fieldName + "\n";
        });
        text += "\nChanged:\n";
        changeReport.fieldsChanged.forEach(function(field) {
           text += field.fileType + "|" + field.fieldName + "|" + field.changes + "\n";
        });
        text += "\nRemoved:\n";
        changeReport.fieldsRemoved.forEach(function(field) {
           text += field.fileType + "|" + field.fieldName + "\n";
        });
  
        return text;
     });
  
     d3.select("#counterNew").text(function() {
        return changeReport.fieldsAdded.length + " new";
     });
     d3.select("#counterChanged").text(function() {
        return changeReport.fieldsChanged.length + " changed";
     });
  };


});






////////////////////////////////////////////////////////////////////////////////
// Entry point, setting up user interaction events
////////////////////////////////////////////////////////////////////////////////
</script>
</html>
