.react-bs-table {
  border-radius: 1px;
  th {
    border: 0 !important;
  }
  tbody tr:last-child td{
    /*background: red!important;*/
    border-bottom: 0;
  }
}

.react-bs-table-tool-bar {
  margin-bottom: 0.5em;
}
