/*** header ***/
.navbar-brand > img {
  display: inline-block;
}

.graph {
  float: left;
  width: 75%;
}

.show-anchor,
.show-anchor:hover {
  display: none;
}

.filter_wrapper a:hover {
  text-decoration: none;
}

.header-hover-aid {
  display: none;
}

.modal-body {
  position: relative;
  padding: 20px;
  max-height: 500px;
  overflow: auto;
}

.tab-container {
  margin: 1rem 2rem;
}

.tab-content {
  padding: 2rem 1rem;
  border: solid 1px #ccc;
  border-top: none;
}

.minimap-container {
  display:inline-block;
  width: 100%;
  padding: 1rem 0rem 3rem 0rem;
  z-index: 10000;
}

#minimapWrapper {
  height:400px;
  width:285px;
  overflow:scroll;
  position:absolute;
  background-color:#F5F5F5;
}

#detail-format-type {
  display: inline-block;
  width: 60%;
  margin-left: 1rem;
}

.detail-format-container {
  text-align: right;
}

.file-container {
  text-align: left;
  padding-left: 0rem;
}

.data-type-list {
  padding-left:1em;
  padding-right:1em;
  color: #666666;
  font-weight: bold;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pull-right {
  float: right !important;
}

.t_button, a.t_button {
  color: #fafafa;
  background: #e9931c;
  padding: 0rem 0.75rem;
  outline: 0;
  outline: dotted thin;
  border-radius: .25rem;
  border: 1px solid #ce6503;
  transition: color .5s, background .5s;
}


.t_button:hover {
  cursor: pointer;
  color: white;
  background: #ce6503;
  text-decoration: none;
}


.legend {
  border-left-style: solid;
  border-left-width: 22px;
  padding-left:2px;
  font-size:1.0em;
}

.tiny {
  padding-left: 0.15em;
  font-size: 0.75em;
}

/* From Bostock's examples */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node text {
  font: 0.75em sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #e1f1e1;
  stroke-width: 9.0px;
}

.link-hover {
  stroke: #88f1e1;
}

/* Override bootstrap default styles to make UI less blobby-looking */
th {
  font-size: 0.8em;
}

pre {
  background-color: rgb(250, 245, 245);
}

a {
  cursor: pointer;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td
{
  border-bottom-width: 0px;
  border-left-width: 0px;
  font-size: 12px;
}

.vis-wrapper {
  margin-left:0.5em;
  margin-right:0.5em;
}

.report-wrapper, .codelist-wrapper {
  margin-left:1.5em;
  margin-right:1.5em;
}

/** for bob to have non blue headers */
.jsoneditor .menu {
  background: whitesmoke;
  border-bottom: none;
}
.jsoneditor {
  border:none;
}
.jsoneditor .menu button{
  background: url(../bower_components/jsoneditor/dist/img/jsoneditor-icons.png) white;
  border-color: dimgray;
}

.jsoneditor div.tree button {
  background: url(../bower_components/jsoneditor/dist/img/jsoneditor-icons.png) white;
}

#jsonview{
  margin-top: -20px; /** undoes margin of header */
}

.code-shard {
  font-size: 0.8rem;
  width: 100%;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.code-shard:hover {
  border-color: #e9931c;
  cursor: pointer;
}

/* D3 Tip style */
.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  pointer-events: none;
  font-size: 1.3rem;
}

/* override bootstrap */
.badge {
  margin-bottom: 0.25rem;
  border-radius: 4px;
}

.table.table-file-metadata {
  margin: 1.5rem 0rem 3rem 0rem;
  border: solid 1px #e7e7e7;
  width: 80%;
}

.table.table-file-metadata th {
 font-size: 1.5rem;
  width: 200px;
  white-space: nowrap;
}

.table.table-file-metadata th,
.table.table-file-metadata td {
  border: solid 1px #e7e7e7;
}

.monospaced {
  font-family: 'monospace';
}