/*** header ***/
.navbar-brand > img {
  display: inline-block;
}

.graph {
  float: left;
  width: 75%;
}

.show-anchor,
.show-anchor:hover {
  display: none;
}

.filter_wrapper a:hover {
  text-decoration: none;
}

.header-hover-aid {
  display: none;
}

.modal-body {
  position: relative;
  padding: 20px;
  max-height: 500px;
  overflow: auto;
}

.tab-container {
  margin: 1rem 2rem;
}

.tab-content {
  padding: 2rem 0rem;
  border: solid 1px #ccc;
  border-top: none;
}

.minimap-container {
  display:inline-block;
  width: 100%;
  padding: 1rem 0rem 3rem 0rem;
  z-index: 1000;
  border-bottom: solid 1px #ccc;
}

#minimapWrapper {
  height:400px;
  width:285px;
  overflow:scroll;
  position:absolute;
  background-color:#F5F5F5;
}

#detail-format-type {
  display: inline-block;
  width: 60%;
  margin-left: 1rem;
}

.detail-format-container {
  text-align: right;
}

.file-container {
  text-align: left;
  padding-left: 0rem;
}

.data-type-list {
  padding-left:1em;
  padding-right:1em;
  margin-left: 0.5rem;
  color: #fff;
  font-weight: bold;
}

#datatypeTable {
  padding: 0rem 2rem;
  overflow: auto;
}

#datatypeSelector {
  padding: 0rem 2rem 2rem 2rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pull-right {
  float: right !important;
}

.t_button, a.t_button {
  color: #fafafa;
  background: #e9931c;
  padding: 0rem 0.75rem;
  outline: 0;
  outline: dotted thin;
  border-radius: .25rem;
  border: 1px solid #ce6503;
  transition: color .5s, background .5s;
}


.t_button:hover {
  cursor: pointer;
  color: white;
  background: #ce6503;
  text-decoration: none;
}


.legend {
  border-left-style: solid;
  border-left-width: 22px;
  padding-left:2px;
  font-size:1.0em;
}

.tiny {
  padding-left: 0.15em;
  font-size: 0.75em;
}

/* From Bostock's examples */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  cursor: pointer;
}

.node text {
  font: 0.75em sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #e1f1e1;
  stroke-width: 9.0px;
}

.link-hover {
  stroke: #88f1e1;
}

/* Override bootstrap default styles to make UI less blobby-looking */
th {
  font-size: 0.8em;
}

pre {
  background-color: rgb(250, 245, 245);
}

a {
  cursor: pointer;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td
{
  border-bottom-width: 0px;
  border-left-width: 0px;
  font-size: 12px;
}

.vis-wrapper {
  margin-left:0em;
  margin-right:0em;
}

.report-wrapper, .codelist-wrapper {
  margin-left:1.5em;
  margin-right:1.5em;
}

/** for bob to have non blue headers */
.jsoneditor .menu {
  background: whitesmoke;
  border-bottom: none;
}
.jsoneditor {
  border:none;
}
.jsoneditor .menu button{
  background: url(../bower_components/jsoneditor/dist/img/jsoneditor-icons.png) white;
  border-color: dimgray;
}

.jsoneditor div.tree button {
  background: url(../bower_components/jsoneditor/dist/img/jsoneditor-icons.png) white;
}

#jsonview{
  margin-top: -20px; /** undoes margin of header */
}

.code-shard {
  font-size: 0.8rem;
  width: 100%;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.code-container {
  position: relative;
}

.code-zoom-indicator {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.code-shard:hover {
  border-color: #e9931c;
  cursor: pointer;
}

/* D3 Tip style */
.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  pointer-events: none;
  font-size: 1.3rem;
}

/* override bootstrap */
.badge {
  margin-bottom: 0.25rem;
  border-radius: 4px;
}

.table.table-file-metadata {
  margin: 1.5rem 0rem 3rem 0rem;
  border: solid 1px #e7e7e7;
  width: 80%;
}

.table.table-file-metadata th {
 font-size: 1.5rem;
  width: 200px;
  white-space: nowrap;
}

.table.table-file-metadata th,
.table.table-file-metadata td {
  border: solid 1px #e7e7e7;
}

.monospaced {
  font-family: 'monospace';
}

/* JSON Editor */
div.jsoneditor {
  border-color: #ccc;
  color: #555;
  border-radius: 5px;
}

table.jsoneditor-search div.jsoneditor-frame {
  border: solid 1px #ccc;
  margin-top: 5px;
  margin-right: 5px;
}

div.jsoneditor-menu {
  padding: 5px 5px;
  height: 40px;
}

div.jsoneditor-menu > button, div.jsoneditor-menu > div.jsoneditor-modes > button {
  background-color: #555;
}

div.jsoneditor-menu > button:focus, div.jsoneditor-menu > div.jsoneditor-modes > button:focus,
div.jsoneditor-menu > button:hover, div.jsoneditor-menu > div.jsoneditor-modes > button:hover {
  background-color: #aaa;
  color: #555;
}

div.jsoneditor-menu {
  background-color: #F8F8F8;
  border-bottom-color: #CCCCCC;
}

/* Report */
.change-report-container {
  display: block;
  padding: 9.5px;
  margin: 0px 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  word-break: break-all;
  word-wrap: break-word;
  border: solid 1px;
  border-left: solid 4px;
  background-color: #fff;
  font-weight:  bold;
}

.report-wrapper h3 {
  border: solid 0px;
  border-bottom: none;
  padding: 5px 10px;
  color: #fff;
  margin: 20px 0px 0px 0px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.change-report-container [class^='fa'] {
  border-radius: 3px;
  padding: 2px 4px;
  color: #fff;
  text-align: center;
  margin-right: 5px;
  opacity: 1;
}
.change-report-container ul {
  margin: 0px 0px;
  padding: 0px 0px;
  list-style: none;
}

.change-report-container ul li {
  line-height: 25px;
}

.change-additions {
  color: #316331;
  border-color: #4DAF4A;
  background-color: #F6FBF6;
}

.change-additions [class^='fa'] {
  background-color: #4DAF4A;
}

.change-modifications {
  color: rgb(146, 114, 5);
  border-color: #9e7b05;
  background-color: #FFFFEF;
}

.change-modifications [class^='fa'] {
  background-color: #9e7b05;
}


h3.change-addition-header {
  background-color: #4DAF4A;
}


.change-modification-header {
  background-color: #9e7b05;
}

.change-removal-header {
  background-color: #bd1a1c;
}

.change-removals {
  color: #8c181a;
  border-color: #bd1a1c;
  background-color: #fef7f7;
}

.change-removals [class^='fa'] {
  background-color: #bd1a1c;

}