<!--
  ~ Copyright 2013(c) The Ontario Institute for Cancer Research. All rights reserved.
  ~  
  ~ This program and the accompanying materials are made available under the terms of the GNU Public
  ~ License v3.0. You should have received a copy of the GNU General Public License along with this
  ~ program. If not, see <http://www.gnu.org/licenses/>.
  ~  
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
  ~ IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
  ~ FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
  ~ CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
  ~ DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  ~ DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
  ~ WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
  ~ WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<div class="row">
    <div class="span3">
        <div class="well"><i class="icon-spinner icon-spin"></i> Facets</div>
    </div>
    <div class="span9">
        <div class="row"><h1 class="span">Variants</h1></div>
        <div class="row">
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Variant ID</th>
                <th>Project</th>
                <th>Gene Symbol</th>
                <th>Donor ID</th>
                <th>Type</th>
                <th>Chr</th>
                <th>Start</th>
                <th>End</th>
                <th>Mutation</th>
                <th>Reference Genome Allele</th>
                <th>Tumour Genotype</th>
                <th>Consequence Type</th>
                <th>AA Mutation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="variant in variants.data">
                <td><a href="#/variants/{{variant.obs_id}}">{{variant.obs_id}}</a></td>
                <td><a href="#/projects/{{variant.donor.project_key}}">{{variant.donor.project_name}}</a></td>
                <td>
                    <ul class="unstyled" ng-repeat="gene in variant.gene">
                        <li><a href="genes/{{gene.ensembl_gene_id}}">{{gene.symbol}}</a></li>
                    </ul>
                </td>
                <td><a href="#/donors/{{variant.donor.donor_id}}">{{variant.donor.donor_id}}</a></td>
                <td>{{variant.ssm.mutation_type}}</td>
                <td>{{variant.ssm.chromosome}}</td>
                <td>{{variant.ssm.chromosome_start}}</td>
                <td>{{variant.ssm.chromosome_end}}</td>
                <td>{{variant.ssm.mutation}}</td>
                <td>{{variant.ssm.reference_genome_allele}}</td>
                <td>{{variant.ssm.tumour_genotype}}</td>
                <td>
                    <ul class="unstyled" ng-repeat="t in variant.ssm.consequence_type">
                        <li>{{t}}</li>
                    </ul>
                </td>
                <td>
                    <ul class="unstyled" ng-repeat="m in variant.ssm.obs_consequence.aa_mutation">
                        <li>{{m}}</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
