@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/opensans/OpenSans-Light-webfont.eot');
    src: url('fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans/OpenSans-Light-webfont.woff') format('woff'), url('fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/opensans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/opensans/OpenSans-LightItalic-webfont.eot');
    src: url('fonts/opensans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans/OpenSans-LightItalic-webfont.woff') format('woff'), url('fonts/opensans/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('fonts/opensans/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/opensans/OpenSans-Semibold-webfont.eot');
    src: url('fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'), url('fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'), url('fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: OpenSansLight, sans-serif;
    /*padding-top: 45px;*/
    padding-bottom: 40px;
}

.table-noborder td, .table-noborder th {
    border: 0;
}

.summary .key {
    font-weight: bold;
}

.subhead {
    text-align: center;
}

.subhead h1 {
    margin-top: 15px;
    font-size: 48px;
}

.subhead h1 small {
    margin-top: 11px;
    font-size: 22px;
}

h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
}

h1 small {
    font-size: 18px;
}

h2 {
    font-size: 21px;
    font-weight: normal;
}

h2 small {
    font-size: 16px;
}

h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin: 0;
}

a {
    color: #6f98b8;
}

.link {
    color: #6f98b8;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.brand a {
    color: #333;
}

input.ng-invalid:focus,
textarea.ng-invalid:focus {
    border-color: hsl(2, 81%, 55%);
    -webkit-box-shadow: 0 0 6px hsl(2, 82%, 85%);
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px hsl(2, 82%, 85%);
}

/* Facets */
/* Current Selection */
.sidebar {
    /*margin-left: -19px;*/
    font-size: 12px;
}

.loc {
    width: 175px;
}

.ap-loc {
    width: 115px;
}

.remove-filter {
    color: #6f98b8;
    cursor: pointer;
}

.facet-header {
    padding: 7px 10px;
    color: #fff;
}

.facet-header.facets {
    background: #5d7e98;
    border: 1px solid #57768e;
    margin-bottom: -5px;
}

.facet-header.current {
    background: #507c50;
    border: 1px solid #4a734a;
}

#facets {
    background: #fafafa;
}

#facets .nav-header {
    color: #4d4d4d;
    background: #f2f2f2;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#facets .nav-header:hover {
    background: #ededed;
}

#facets .nav-header.active {
    border-left: 5px solid #ccc;
    padding-left: 10px;
}

#current-group {
    padding-bottom: 15px;
    margin-bottom: 25px;
    color: #333;
    background: hsl(103, 47%, 97%);
    font-size: 11px;
}

#current-group ul {
    list-style-type: none;
    margin: 0 0 0 7px;
}

#current-group .reset {
    color: #ccc;
}

#current-group .reset:hover {
    color: #FFF;
    cursor: pointer;
}

#current-group .and {
    color: #228b22;
}

#current-group .or {
    color: olive;
}

.highcharts-container {
    overflow: visible !important;
}

.hc-tooltip {
    background: hsla(360, 100%, 100%, .9);
    padding: 5px;
    border-radius: 3px;
    /*-webkit-box-shadow: 1px 1px 2px #555;
    -moz-box-shadow: 1px 1px 2px #555;*/
    box-shadow: 1px 1px 2px #555;
}
