#feedback-tab
  font-size 16px
  line-height 20px

  position absolute
  right -66px
  top 250px

  -webkit-transform:rotate(270deg)
  -moz-transform:rotate(270deg)
  -o-transform: rotate(270deg)

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  cursor pointer

  &:hover
    right -51px

  &.active
    right 0

#feedback-popup
  form
    label
      width 80px
    .controls
      margin-left 106px
    textarea
      height 200px
      width 319px