.GroupedReportList {
  & + .GroupedReportList {
    margin-top: 2em;
  }

  .validate-group-btn {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  .uploading-indicator {
    margin-left: 10px;
    color: #888;
    animation: pulse 1s infinite;
    animation-direction: alternate;
  }
}

@keyframes pulse {
  0% {
    color: #aaa;
    opacity: 0.6;
  }
  100% {
    color: #666;
    opacity: 1;
  }
}