<div class="row">
    <div class="span3">
        <div class="well"><i class="icon-spinner icon-spin"></i> Facets</div>
    </div>
    <div class="span9">
        <h1>Cancer Projects</h1>

        <div class="row">
            <div class="span4">
                <div style="width:300px; height: 220px; background: #eee"></div>
            </div>
            <div class="span5">
                <div style="width:380px; height: 220px; background: #eee"></div>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Cancer Project</th>
                <th>Primary Site</th>
                <th>Release Country</th>
                <th>Donors</th>
                <th>SSM</th>
                <th>CNSM</th>
                <th>Gene Expression</th>
                <th>DNA Methylation</th>
                <th>Publications</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projects.data">
                <td><a href="#/projects/{{project.project_key}}">{{project.project_name}}</a></td>
                <td>{{project.primary_site}}</td>
                <td>{{project.country}}</td>
                <td>{{project.total_donor_count}}</td>
                <td>{{project.ssm_tested_donor_count}}</td>
                <td>{{project.cnsm_tested_donor_count}}</td>
                <td>{{project.exp_tested_donor_count}}</td>
                <td>{{project.meth_tested_donor_count}}</td>
                <td>
                    <ul class="unstyled" ng-repeat="pmid in project.pubmed_id">
                        <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}">pmid:{{pmid}}</a></li>
                    </ul>
                </td>
            </tr>
            <tr ng-hide="projects.data.length">
                <td colspan="9"><i class="icon-spinner icon-spin"></i> Fetching projects...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
