<p class="navbar-text"><span>{{username}} <i class="icon-{{#if_has_role "admin"}}lock{{else}}user{{/if_has_role}}"></i></span><span>&nbsp;&nbsp;</span> <span class="link" style="color:#ddd" id="logout">Logout</a></p>
