<configuration debug="false">
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} [%thread] %-5level %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="de.flapdoodle.embed" level="WARN"/>
  <logger name="org.glassfish.jersey" level="WARN"/>
  <logger name="org.hibernate.validator" level="WARN"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>