<div id="warning-container"></div>
<div id="submission-header-container"></div>
<hr>
<div id="datatype-report-container" width="100%">
    <div id="clinical-report-container" width="100%">
        <h2 style="margin-bottom:0;">Clinical Report</h2>
    </div>

    <div id="experimental-report-container" width="100%">
        <h2 style="margin-bottom:0;">Experimental Report</h2>
    </div>

    <div id="miscellaneous-report-container" width="100%">
        <h2 style="margin-bottom:0;">Unrecognized</h2>
    </div>
</div>
<div id="report-container" width="100%"></div>
