<!doctype html>
<html>
    <head>
        <title>Dictionary Viewer :: ICGC Submission</title>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/docco.css">
        <link rel="stylesheet" href="bower_components/regex-colorizer/themes/nobg.css">
        <link rel="stylesheet" href="bower_components/dist/jsoneditor.min.css">
        <link rel="stylesheet" href="styles/dictionary.css">

    </head>
    <body style="padding-top:70px" data-ng-controller="ViewerController" data-ng-app="ViewerApp">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <span class="navbar-brand">
              <img src="https://dcc.icgc.org/styles/images/icgc-logo.png" width="20px"></img>
              <span style="font-size:1.7rem; vertical-align:middle">
                  <span style="color:#777777">ICGC</span>
                  <span> Dictionary Viewer</span>
              </span>
          </span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <div class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input
                   data-ng-model="q"
                   data-ng-keyup="doFilter()"
                   data-ng-click="$event.stopPropagation()" class="form-control" id="filter" type="text" size="25" placeholder="Search:">
              </input>
            </div>
          </div>

          <div class="navbar-form navbar-left" role="search">
            <div class="form-group">
               <select class="form-control"
                   data-ng-model="vFrom"
                   data-ng-options="item for item in dictUtil.versionList"
                   data-ng-change="switchDictionary()" style="width:6em">
               </select>
            </div>
            TO
            <div class="form-group">
               <select class="form-control"
                   data-ng-model="vTo"
                   data-ng-options="item for item in dictUtil.versionList"
                   data-ng-change="switchDictionary()" style="width:6em">
               </select>
            </div>

            <span>&nbsp;&nbsp;&nbsp;&nbsp;View</span>
            <div class="form-group">
                <select
                     class="form-control"
                     data-ng-options="item for item in ['graph', 'table', 'codelist', 'report','json']"
                     data-ng-model="viewMode"
                     data-ng-change="changeView()">
                </select>
            </div>
          </div>

          <div class="navbar-form navbar-right">
             <div>
                 <span data-ng-style="{color: tableViewer.colourNew}">{{changeReport.fieldsAdded.length}} new</span>
                 &nbsp;&nbsp;
                 <span data-ng-style="{color: tableViewer.colourChanged}">{{changeReport.fieldsChanged.length}} changed</span>
             </div>
          </div>

        </div>

      </div>
    </div>


    <!--<div class="vis-wrapper" data-ng-style="{'display': viewMode === 'report'? 'none': 'block'}">-->
    <div class="vis-wrapper" data-ng-style="{'display': ['table', 'graph'].indexOf(viewMode) === -1 ? 'none': 'block'}">
       <!-- template for table viewer-->
       <span id="datatypeSelector" style="display:inline-block; margin-right:10em; float:right">
           <button id="minimapLabel" class="btn btn-default"><span>all</span><i class="glyphicon glyphicon-chevron-down"></i></button><br>
           <div  id="minimapWrapper" style="height:400px; width:285px; overflow:scroll; display:none; position:absolute; background-color:#F5F5F5">
              <svg id="minimap" height="0px" width="275px" style="pointer-events:visibleFill; z-index:10"></svg>
           </div>
       </span>
       <div id="datatypeTable"></div>

       <!-- template for graph viewer -->
       <div id="datatypeGraph">
          <div id="graph" style="float:left; width:75%"></div>
       </div>
    </div>



    <!-- template for report -->
    <div class="report-wrapper" data-ng-style="{'display': viewMode==='report'? 'block':'none'}">
       <div>
          <pre>
    Added:
    {{changeReport.added}}

    Changed:
    {{changeReport.changed}}

    Removed:
    {{changeReport.removed}}
          </pre>
       </div>
    </div>

    <!-- template for json viewer -->
    <div id="jsonviewer" data-ng-style="{'display': viewMode==='json'? 'block':'none'}"></div>

    <!-- template for codelists -->
    <div class="codelist-wrapper" data-ng-style="{'display': viewMode==='codelist'? 'block':'none'}">
       <div>
           <span> Hide unused CodeLists: <input type="checkbox" data-ng-model="hideUnusedCodeLists" data-ng-change="render()"></span>
       </div>
       <br>
       <table class="table table-condensed table-bordered table-hover">
            <thead>
                <tr>
                   <th>Name</th>
                   <th>Used in ...</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="codeList in codeListsFiltered | filter:{'name':q} | orderBy:'name'"
                    data-ng-init="expanded=false">
                    <td>
                        <span data-ng-click="expanded=!expanded">
                            <a href="">
                                {{codeList.name}}
                                <i class="{{expanded? 'glyphicon glyphicon-chevron-up': 'glyphicon glyphicon-chevron-down'}}"></i>
                            </a>
                        </span>
                        <ul data-ng-show="expanded" class="list-unstyled">
                            <li data-ng-repeat="term in codeList.terms">
                            {{term.code}} &nbsp;&nbsp;&nbsp; {{term.value}}
                            </li>
                        </ul>
                    </td>
                    <td style="max-width:60rem">
                        <span data-ng-repeat="datatype in codeList.coverage">
                            <a href="" data-ng-click="goto('table', datatype)">{{datatype}}</a>&nbsp;&nbsp;
                        </span>
                    </td>
                </tr>
            </tbody>
       </table>
    </div>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/highlightjs/highlight.pack.js"></script>
        <script src="bower_components/regex-colorizer/regex-colorizer.js"></script>
        <script src="bower_components/d3-tip/index.js"></script>
        <script src="bower_components/dist/jsoneditor.min.js"></script>

        <script src="scripts/vendor/beautify.js"></script>

        <script src="scripts/dictionaryUtil.js"></script>
        <script src="scripts/dictionaryViewer.js"></script>
        <script src="scripts/dictionary.js"></script>
    </body>
</html>
