<div class="header container">
    <div class="row text-center">
        <span class="col-span-2">
            <a href="http://icgc.org" target="_blank">
                <img alt="ICGC" src="/styles/images/icgc-logo-sml.png">
            </a>
        </span>
        <span class="col-span-8">
            <span class="row">
                <span class="brand"> ICGC DCC Portal</span>
            </span>
            <!--<span class="row">
                <span class="sub-brand">We need some tagline to be cool!</span>
            </span>-->
        </span>
        <span class="col-span-2">
            <a href="http://oicr.on.ca" target="_blank">
                <img alt="OICR" src="/styles/images/oicr-logo.jpg">
            </a>
        </span>
    </div>
</div>

<div class="navbar navbar-static-top" ng-controller="NavigationController">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav" ng-repeat="n in navigation">
                <li ui-route="{{n.href}}" ng-class="{active: $uiRoute}">
                    <a href="{{n.href}}">{{n.title}}</a>
                </li>
            </ul>
            <ul class="nav pull-right" ng-controller="LoadingCtrl">
                <li ng-show="loading">
                    <a><i class="icon-spinner icon-spin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
