<div class="row">
    <div class="span3">
        <div class="well"><i class="icon-spinner icon-spin"></i> Facets</div>
    </div>
    <div class="span9">
        <div class="row"><h1 class="span">Advanced Search</h1></div>


        <div class="row">
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered table-striped span">
                <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>Primary Site</th>
                    <th>Project</th>
                    <th>Gender</th>
                    <th>Age at Diagnosis</th>
                    <th>Number of gene affected by SSM</th>
                    <th>SSM</th>
                    <th>CNSM</th>
                    <th>Expression</th>
                    <th>Methylation</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in projects">
                    <td><a href="#/projects/{{project.id}}">{{project.name}}</a></td>
                    <td>{{project.site}}</td>
                    <td>{{project.country}}</td>
                    <td>{{project.donors}}</td>
                    <td>{{project.ssm}}</td>
                    <td>{{project.cnsm}}</td>
                    <td>{{project.gene_expression}}</td>
                    <td>{{project.dna_methylation}}</td>
                    <td>
                        <ul class="unstyled" ng-repeat="pmid in project.pubmed_id">
                            <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}">pmid:{{pmid}}</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><a href="#/donors/LFS_MB1">LFS_MB1</a></td>
                    <td>Brain</td>
                    <td>Pediatric Brain Tumors - DKFZ, DE</td>
                    <td>Female</td>
                    <td>11</td>
                    <td>1279</td>
                    <td style="color:#006400"><i class="icon-ok-sign"></i></td>
                    <td style="color:#006400"><i class="icon-ok-sign"></i></td>
                    <td style="color:#8b0000"><i class="icon-remove-sign"></i></td>
                    <td style="color:#8b0000"><i class="icon-remove-sign"></i></td>
                </tr>
                <tr ui-if="!projects.length">
                    <td colspan="10"><i class="icon-spinner icon-spin"></i> Fetching projects...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
