<table class="releases table table-striped">
<thead>
  <th>Name</th>
  <th>State</th>
  <th>Release Date</th>
  <th>Projects</th>
  {{#if_admin}}
  <th></th>
  {{/if_admin}}
</thead>
<tbody></tbody>
</table>
