<div class="row-fluid page-header">
  <div class="pull-left">
    <h1>{{name}} <small>{{state}}</small></h1>
  </div>
  <div class="pull-right">
    <a href="releases/{{name}}/report" class="btn btn-primary">View Report</a>
    {{#if_opened state}}
    <button id="complete-release-popup-button" class="btn btn-success">Complete</button>
    {{/if_opened}}
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
      <ul class="nav nav-list">
        <li class="nav-header">Submission Summary</li>
        
      </ul>
  </div>
</div>

<div id="submissions-table" class="row-fluid"></div>
