<div class="row-fluid page-header">
  <ul class="breadcrumb">
    <li>
      <a href="/releases">Releases</a> <span class="divider">/</span>
    </li>
  </ul>

  <div class="pull-left">
    <h1><small>RELEASE</small> {{name}}<br>
    <small class="{{lowercase state}}">{{state}}</small>
    {{#if_completed state}}
    <small> on {{date releaseDate}}</small>
    {{/if_completed}}
    </h1>
  </div>
  <div class="pull-right">
    {{#if_opened state}}
    <button id="complete-release-popup-button" class="btn btn-success">Complete</button>
    {{/if_opened}}
  </div>
</div>
