{{#if next}}
<div class="alert alert-success"><button class="close" data-dismiss="alert">×</button>This release has been closed. The current open release is <a href="/releases/{{next}}">{{next}}</a>.</div>
{{/if}}

<div id="release-header-container"></div>
<div id="submission-summary-container"></div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#files" data-toggle="tab">Submissions</a></li>
</ul>
<div class="tab-content">
  <table id="submissions-table" width="100%" class="submissions table table-striped"></table>
</div>