<div class="row-fluid page-header">
  <div>
    <h1>{{name}} <small>{{state}}</small></h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
      <ul class="nav nav-list">
        <li class="nav-header">Submission Summary</li>
        {{submission_summary submissions}}
      </ul>
  </div>
</div>

<div id="submissions-table" class="row-fluid"></div>
