<div id="submission-header-container"></div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#report" data-toggle="tab">Report</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="report">
    <table id="report-container" width="100%" class="report table table-striped"></table>
  </div>
</div>
