<div id="external-nav" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
      <div class="container">
          <a class="brand" href="http://icgc.org"><i class="icon-home"></i> ICGC</a>
          <div class="nav-collapse">
              <ul class="nav">
                  <li><a href="http://dcc.icgc.org/pages/docs/" target="_blank">Documentation</a></li>
                  <li><a id="feedback-tab" href="#"><span class="label label-success" style="padding:5px 10px">Send Feedback</span></a></li>
              </ul>
              <ul id="user-area" class="nav pull-right {{#if username}} {{else}}hide{{/if}}" style="margin-right:20px">
              </ul>
          </div><!-- /.nav-collapse -->
      </div>
  </div><!-- /navbar-inner -->
</div>
<div class="row">
  <div class="subhead">
    <span class="span3"><a href="http://icgc.org" target="_blank"><img alt="ICGC" class="pull-left" style="margin-top:9px" width="172" height="57" src="/images/logo-icgc.png"></a></span>
    <span class="span6"><h1 style="">Data Submission<br><small>Beta Release</small></h1></span>
    <span class="span pull-right" style="margin-top:3px"><a href="http://oicr.on.ca" target="_blank"><img alt="OICR" width="112" height="75" src="/images/logo-oicr.jpg"></a></span>
  </div>
</div>