<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    ×
  </button>
  <h3>Sign Off Submission</h3>
</div>
<div class="modal-body">
  <div class="alert alert-info">Once you have confirmed signing off on the submission for the project "{{projectName}}" <em>({{projectKey}})</em> it will be marked as SIGNED OFF and will be processed and included in this release. You will <b>not<b/> be able to change this submission. Please be certain before you continue.
  </div>
</div>
<div class="modal-footer">
  <a href="#" class="m-btn grey-stripe" data-dismiss="modal">Close</a>
  <button type="submit" id="signoff-submission-button" href="#" class="m-btn green"><i class="icon-ok icon-white"></i> Sign Off Submission</button>
</div>