<div class="row">
    <div class="span3">
        <ul class="nav nav-list" ng-controller="FacetsController">
            <term-facet facet-name="project_name" facet="donors.facets['project_name']"></term-facet>
            <term-facet facet-name="donor_sex" facet="donors.facets['donor_sex']"></term-facet>
            <term-facet facet-name="donor_tumour_stage_at_diagnosis"
                        facet="donors.facets['donor_tumour_stage_at_diagnosis']"></term-facet>
        </ul>
    </div>

    <div class="span9">
        <div class="row"><h1 class="span">Donors</h1></div>
        <div class="row">
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Donor ID</th>
                <th>Primary Site</th>
                <th>Project</th>
                <th>Gender</th>
                <th>Age at Diagnosis</th>
                <th>Number of Genes affected by SSM</th>
                <th>SSM</th>
                <th>CNSM</th>
                <th>Expression</th>
                <th>Methylation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donor in donors.hits">
                <td><a href="#/donors/{{donor.id}}">{{donor.fields.donor_id}}</a></td>
                <td>{{donor.fields.primary_site}}</td>
                <td><a href="{{donor.fields.project_key}}">{{donor.fields.project_name}}</a></td>
                <td>{{donor.fields.donor_sex}}</td>
                <td>{{donor.fields.donor_age_at_diagnosis}}</td>
                <td>{{donor.score}}</td>
                <td>{{donor.fields.has_ssm}}</td>
                <td>{{donor.fields.has_cnsm}}</td>
                <td>{{donor.fields.has_meth}}</td>
                <td>{{donor.fields.has_exp}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
