<div class="row">
    <div class="span3">
        <ul class="nav nav-list" ng-controller="FacetsController">
            <term-facet facet-name="gene_type" facet="genes.facets['gene_type']"></term-facet>
            <term-facet facet-name="chromosome" facet="genes.facets['chromosome']"></term-facet>
            <location-facet facet-name="gene_location" placeholder="Search for a gene location"></location-facet>
            <multi-facet facet-name="gene_list" select2="geneList"></multi-facet>
            <multi-facet facet-name="pathways" select2="geneList"></multi-facet>
        </ul>
    </div>
    <div class="span9">
        <div class="row"><h1 class="span">Genes</h1></div>
        <div class="row">
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Gene Symbol</th>
                <th>Gene Name</th>
                <th>Chromosome</th>
                <th>Start</th>
                <th>End</th>
                <th>Band</th>
                <th>Gene Type</th>
                <th>Number of Donors affected by SSM</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="gene in genes.hits">
                <td><a href="#/genes/{{gene.fields.ensembl_gene_id}}">{{gene.fields.symbol}}</a></td>
                <td>{{gene.fields.description}}</td>
                <td>{{gene.fields.chromosome}}</td>
                <td>{{gene.fields.start}}</td>
                <td>{{gene.fields.end}}</td>
                <td>{{gene.fields.band}}</td>
                <td>{{gene.fields.gene_type}}</td>
                <td>??</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
