<div class="row">
    <div class="span3">
        <ul class="nav nav-list" ng-controller="FacetsController">
            <term-facet data-facet-name="gene_type" data-facet="genes.facets['gene_type']"></term-facet>
            <li class="nav-header">
                <i ng-hide="facet.active" class="icon-check-empty"></i>
                <i ng-show="facet.active" class="icon-check"></i>
                Gene list
            </li>
            <li class="form-inline">
                <input type="hidden" uui-select2="select2">
            </li>
            <li class="nav-header">
                <i ng-hide="facet.active" class="icon-check-empty"></i>
                <i ng-show="facet.active" class="icon-check"></i>
                Gene location
            </li>
            <li>
                <input type="text" ng-model="location"/>
                <button type="button" class="btn" ng-click="toggleRangeFilter('projects', 'range_facet', from, to)">
                    Search
                </button>
            </li>
            <li class="nav-header">
                <i ng-hide="facet.active" class="icon-check-empty"></i>
                <i ng-show="facet.active" class="icon-check"></i>
                Gene type
            </li>
            <li>
                <ul class="unstyled" ng-repeat="term in genes.facets['gene_type'].terms">
                    <li><a href="" ng-click="toggleTermFilter('genes','gene_type',term.term)">
                        <i ng-hide="term.active" class="icon-check-empty"></i>
                        <i ng-show="term.active" class="icon-check"></i>
                        {{term.term}} ({{term.count}})</a></li>
                </ul>
            </li>
            <li class="nav-header">
                <i ng-hide="facet.active" class="icon-check-empty"></i>
                <i ng-show="facet.active" class="icon-check"></i>
                Pathways
            </li>
            <li class="form-inline">
                <input type="hidden" uui-select2="select2">
            </li>
        </ul>
    </div>
    <div class="span9">
        <div class="row"><h1 class="span">Genes</h1></div>
        <div class="row">
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Gene Symbol</th>
                <th>Gene Name</th>
                <th>Chromosome</th>
                <th>Start</th>
                <th>End</th>
                <th>Band</th>
                <th>Gene Type</th>
                <th>Number of Donors affected by SSM</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="gene in genes.hits">
                <td><a href="#/genes/{{gene.fields.ensembl_gene_id}}">{{gene.fields.symbol}}</a></td>
                <td>{{gene.fields.description}}</td>
                <td>{{gene.fields.chromosome}}</td>
                <td>{{gene.fields.start}}</td>
                <td>{{gene.fields.end}}</td>
                <td>{{gene.fields.band}}</td>
                <td>{{gene.fields.gene_type}}</td>
                <td>??</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
