<div class="row">
    <div class="span3">
        <ul class="nav nav-list" ng-controller="FacetsController" ng-repeat="(fname, facet) in genes.facets">
            <li class="nav-header">{{fname}}</li>
            <li>
                <ul class="unstyled" ng-repeat="(tname, term) in facet.terms">
                    <li><a href="" ng-click="toggleFilter(genes.type, fname, tname)">
                        <i ng-hide="term.active" class="icon-check-empty"></i>
                        <i ng-show="term.active" class="icon-check"></i>
                        {{tname}} ({{term.count}})</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="span9">
        <div class="row"><h1 class="span">Genes</h1></div>
        <div class="row">
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
            <div class="span3">
                <div style="width:220px; height: 220px; background: #eee"></div>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Gene Symbol</th>
                <th>Gene Name</th>
                <th>Chromosome</th>
                <th>Start</th>
                <th>End</th>
                <th>Band</th>
                <th>Gene Type</th>
                <th>Number of Donors affected by SSM</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="gene in genes.hits">
                <td><a href="#/genes/{{gene.ensembl_gene_id}}">{{gene.symbol}}</a></td>

                <td>{{gene.description}}</td>
                <td>{{gene.chromosome}}</td>
                <td>{{gene.start}}</td>
                <td>{{gene.end}}</td>
                <td>{{gene.band}}</td>
                <td>{{gene.gene_type}}</td>
                <td>??</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
