<div class="row">
    <div class="span3">
        <div current-selection class="sidebar"></div>
        <div id="facets" class="sidebar">
            <div class="facet-header facets"><span>Filter Search</span></div>
            <ul class="nav nav-list" ng-controller="FacetsController">
                <term-facet type="project" facet-name="project_name"
                            facet="projects.facets['project_name']"></term-facet>
                <term-facet type="project" facet-name="primary_site"
                            facet="projects.facets['primary_site']"></term-facet>
                <term-facet type="project" facet-name="countries" facet="projects.facets['countries']"></term-facet>
                <term-facet type="project" facet-name="_available_data_type"
                            facet="projects.facets['_summary._available_data_type']"></term-facet>
            </ul>
        </div>
    </div>
    <div class="span9">
        <h2>
            <small>{{projects.pagination.total}}</small>
            Projects
        </h2>

        <div class="row">
            <stacked items='stdata' height="220"></stacked>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <donut items='dcpndata' inner-label='DonorsIn' outer-label='DonorsOut'
                       title="Donor Distribution by Country" height="220"></donut>
            </div>
            <div class="span6">
                <donut items='dpspndata' inner-label='DonorsIn' outer-label='DonorsOut'
                       title="Donor Distribution by Primary Site" height="220"></donut>
            </div>
        </div>
        <div class="row">
            <div class="span">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th ng-click="toggleSort('project_name')" class="link"><i ng-show="sort=='project_name'"
                                                                                  ng-class="{'icon-angle-down': order=='desc', 'icon-angle-up': order=='asc'}"></i>
                            Project Name
                        </th>
                        <th ng-click="toggleSort('primary_site')" class="link"><i ng-show="sort=='primary_site'"
                                                                                  ng-class="{'icon-angle-down': order=='desc', 'icon-angle-up': order=='asc'}"></i>
                            Primary Site
                        </th>
                        <th ng-click="toggleSort('countries')" class="link"><i ng-show="sort=='countries'"
                                                                               ng-class="{'icon-angle-down': order=='desc', 'icon-angle-up': order=='asc'}"></i>
                            Country
                        </th>
                        <th ng-click="toggleSort('_summary._total_donor_count')" class="link"><i
                                ng-show="sort=='_summary._total_donor_count'"
                                ng-class="{'icon-angle-down': order=='desc', 'icon-angle-up': order=='asc'}"></i>
                            Donors
                        </th>
                        <th ng-click="toggleSort('_summary._ssm_tested_donor_count')" class="link"><i
                                ng-show="sort=='_summary._ssm_tested_donor_count'"
                                ng-class="{'icon-angle-down': order=='desc', 'icon-angle-up': order=='asc'}"></i> <abbr
                                title="Simple Somatic Mutation">SSM</abbr>
                        </th>
                        <th ng-click="toggleSort('_summary._cnsm_tested_donor_count')" class="link"><i
                                ng-show="sort=='_summary._cnsm_tested_donor_count'"
                                ng-class="{'icon-angle-down': order=='desc', 'icon-angle-up': order=='asc'}"></i> <abbr
                                title="Copy Number Somatic Mutation">CNSM</abbr>
                        </th>
                        <th ng-click="toggleSort('_summary._exp_tested_donor_count')" class="link"><i
                                ng-show="sort=='_summary._exp_tested_donor_count'"
                                ng-class="{'icon-angle-down': order=='desc', 'icon-angle-up': order=='asc'}"></i> <abbr
                                title="Gene Expression">Expression</abbr>
                        </th>
                        <th ng-click="toggleSort('_summary._meth_tested_donor_count')" class="link"><i
                                ng-show="sort=='_summary._meth_tested_donor_count'"
                                ng-class="{'icon-angle-down': order=='desc', 'icon-angle-up': order=='asc'}"></i> <abbr
                                title="DNA Methylation">Methylation</abbr>
                        </th>
                        <th>Publications</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="project in projects.hits">
                        <td><a href="#/projects/{{project.id}}">{{project.fields.project_name}}</a></td>
                        <td>{{project.fields.primary_site}}</td>
                        <td>
                            <ul class="unstyled" ng-repeat="c in project.fields.countries">
                                <li>{{c}}</li>
                            </ul>
                        </td>
                        <td style="text-align: right">{{project.fields['_summary._total_donor_count']}}</td>
                        <td style="text-align: right">{{project.fields['_summary._ssm_tested_donor_count']}}</td>
                        <td style="text-align: right">{{project.fields['_summary._cnsm_tested_donor_count']}}</td>
                        <td style="text-align: right">{{project.fields['_summary._exp_tested_donor_count']}}</td>
                        <td style="text-align: right">{{project.fields['_summary._meth_tested_donor_count']}}</td>
                        <td>
                            <ul class="unstyled" ng-repeat="pmid in project.fields.pubmed_ids">
                                <li><img src="/styles/images/pubmed_icon.gif"> <a
                                        href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}">{{pmid}}</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr ng-hide="projects.hits.length">
                        <td colspan="9">No Projects found.</td>
                    </tr>
                    </tbody>
                </table>
                <pagination boundary-links="true" num-pages="projects.pagination.total"
                            current-page="projects.pagination.page"
                            max-size="5"></pagination>
            </div>
        </div>
    </div>
</div>
