<div class="row">
    <div class="span"></div>
    <div class="span">
        <h1 id="summary">
            <small>PROJECT</small>
            {{project.fields.project_name}}
        </h1>
        <div class="row-fluid">
            <div class="span6">
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <td>Project ID</td>
                        <td>{{project.id}}</td>
                    </tr>
                    <tr>
                        <td>Project name</td>
                        <td>{{project.fields.project_name}}</td>
                    </tr>
                    <tr>
                        <td>Cancer Type</td>
                        <td>??</td>
                    </tr>
                    <tr>
                        <td>Primary Site</td>
                        <td>{{project.fields.primary_site}}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>{{project.fields.country}}</td>
                    </tr>
                    <tr>
                        <td>Total number of donors</td>
                        <td>{{project.fields.total_donor_count}}</td>
                    </tr>
                </table>
            </div>
            <div class="span6">
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <td>Clinical Data</td>
                        <td colspan="4">??</td>
                    </tr>
                    <tr>
                        <td>Small mutations</td>
                        <td>Somatic</td>
                        <td>??</td>
                        <td>Germline</td>
                        <td>??</td>
                    </tr>
                    <tr>
                        <td>Copy number alterations</td>
                        <td>Somatic</td>
                        <td>??</td>
                        <td>Germline</td>
                        <td>??</td>
                    </tr>
                    <tr>
                        <td>Structural rearrangements</td>
                        <td>Somatic</td>
                        <td>10,000</td>
                        <td>Germline</td>
                        <td>10,000</td>
                    </tr>
                    <tr>
                        <td>DNA methylation</td>
                        <td colspan="4">??</td>
                    </tr>
                    <tr>
                        <td>Gene expression</td>
                        <td colspan="4">??</td>
                    </tr>
                    <tr>
                        <td>miRNA</td>
                        <td colspan="4">??</td>
                    </tr>
                    <tr>
                        <td>Exon junction</td>
                        <td colspan="4">??</td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-controller="EmbDonorsController" class="row-fluid">
            <h2 id="donors">Donors</h2>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>Donor ID</th>
                    <th>Gender</th>
                    <th>Age at Diagnosis</th>
                    <th>Tumor stage at diagnosis</th>
                    <th>Survival time (days)</th>
                    <th>Experimental analysis</th>
                    <th>Number of mutations</th>
                    <th>Number of CNV</th>
                    <th>Number of SV</th>
                    <th>Methylation</th>
                    <th>Expression</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="donor in donors.hits">
                    <td><a href="#/donors/{{donor.id}}">{{donor.fields.project_name}}</a></td>
                    <td>{{donor.fields.donor_sex}}</td>
                    <td>{{donor.fields.donor_age_at_diagnosis}}</td>
                    <td>{{donor.fields.donor_tumour_stage_at_diagnosis}}</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>{{donor.fields.has_meth}}</td>
                    <td>{{donor.fields.has_exp}}</td>
                </tr>
                <tr ui-if="donors.hits.length == 0">
                    <td colspan="11">No Donors found.</td>
                </tr>
                <tr ui-if="!donors.hits">
                    <td colspan="11"><i class="icon-spinner icon-spin"></i> Fetching donors...</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-controller="EmbGenesController" class="row-fluid">
            <h2 id="genes">Mutated Genes</h2>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>Gene</th>
                    <th>Number of affected donors</th>
                    <th>Number of donors tested</th>
                    <th>Percentage of mutated donors</th>
                    <th>MulSig score (Q-value)</th>
                    <th>Number of mutations</th>
                    <th>Number of mutation occurrences</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="gene in genes.hits">
                    <td><a href="#/genes/{{gene.id}}">{{gene.fields.symbol}}</a></td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                </tr>
                <tr ui-if="!genes.hits">
                    <td colspan="8"><i class="icon-spinner icon-spin"></i> Fetching donors...</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row-fluid">
            <h2>Mutations</h2>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>Mutation ID</th>
                    <th>DNA Change</th>
                    <th>Mutation Type</th>
                    <th>Gene</th>
                    <th>AA Change</th>
                    <th>Consequence</th>
                    <th>Protein domain</th>
                    <th>Number of affected Donors</th>
                    <th>Percentage of mutated Donors</th>
                    <th>Occurrences in other Cancer Projects</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="mutation in mutations.hits">
                    <td><a href="#/genes/{{gene.fields.ensembl_gene_id}}">{{gene.fields.symbol}}</a></td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                    <td>??</td>
                </tr>
                <tr ui-if="!mutations.hits">
                    <td colspan="10"><i class="icon-spinner icon-spin"></i> Fetching mutations...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
