<div class="row">
    <div class="span3">
        <div ng-controller="FacetsController">
            <ul class="nav nav-list" ng-repeat="(facet_name, facet) in projects.facets">
                <li class="nav-header">
                    <i ng-hide="facet.active" class="icon-check-empty"></i>
                    <i ng-show="facet.active" class="icon-check"></i>
                    {{facet_name}}
                </li>
                <li>
                    <ul class="unstyled" ng-repeat="(term_name, term) in facet.terms">
                        <li><a href="" ng-click="toggleFilter('projects', facet_name, term_name)">
                            <i ng-hide="term.active" class="icon-check-empty"></i>
                            <i ng-show="term.active" class="icon-check"></i>
                            {{term_name}} ({{term.count}})</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav nav-list">
                <li class="nav-header">
                    <i ng-hide="facet.active" class="icon-check-empty"></i>
                    <i ng-show="facet.active" class="icon-check"></i>
                    Range Facet
                </li>
                <li class="form-inline">
                    <input type="text" class="input-xmini" placeholder="From">
                    <input type="text" class="input-xmini" placeholder="To">
                    <button type="button" class="btn">Go</button>
                </li>
            </ul>
            <ul class="nav nav-list">
                <li class="nav-header">
                    <i ng-hide="facet.active" class="icon-check-empty"></i>
                    <i ng-show="facet.active" class="icon-check"></i>
                    Text Facet
                </li>
                <li class="form-inline">
                    <input type="hidden" ui-select2="select2">
                </li>
            </ul>
        </div>
    </div>
    <div class="span9">
        <h1>Cancer Projects</h1>

        <div class="row">
            <div class="span4">
                <div style="width:300px; height: 220px; background: #eee"></div>
            </div>
            <div class="span5">
                <div style="width:380px; height: 220px; background: #eee"></div>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Cancer Project</th>
                <th>Primary Site</th>
                <th>Release Country</th>
                <th>Donors</th>
                <th>SSM</th>
                <th>CNSM</th>
                <th>Gene Expression</th>
                <th>DNA Methylation</th>
                <th>Publications</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projects.hits">
                <td><a href="#/projects/{{project.fields.project_key}}">{{project.fields.project_name}}</a></td>
                <td>{{project.fields.primary_site}}</td>
                <td>{{project.fields.country}}</td>
                <td>{{project.fields.total_donor_count}}</td>
                <td>{{project.fields.ssm_tested_donor_count}}</td>
                <td>{{project.fields.cnsm_tested_donor_count}}</td>
                <td>{{project.fields.exp_tested_donor_count}}</td>
                <td>{{project.fields.meth_tested_donor_count}}</td>
                <td>
                    <ul class="unstyled" ng-repeat="pmid in project.fields.pubmed_id">
                        <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pmid}}">pmid:{{pmid}}</a></li>
                    </ul>
                </td>
            </tr>
            <tr ng-hide="projects.hits.length">
                <td colspan="9"><i class="icon-spinner icon-spin"></i> Fetching projects...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
